# Binaries
realtime
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test coverage
*.out

# Dependency directories
vendor/

# Environment files
.env
!.env.example

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
